*.avi
*.mov

# *.pt
*.pkl
*.zip
# *.keras
*.json
fix_pt.py
input_videos/*
output_videos/*
tracker_stubs/*

!input_videos/
!output_videos/
!tracker_stubs/


!output_videos/.gitkeep
!input_videos/.gitkeep
!tracker_stubs/.gitkeep
